<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Quiz Ekle</title>

```
<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
```

</head>

<body>

<div class="form-container">

```
<h1>Yeni Quiz Ekle</h1>

<form method="POST">

    <input type="text"
           name="question"
           placeholder="Soru"
           required>

    <input type="text"
           name="a"
           placeholder="A Şıkkı"
           required>

    <input type="text"
           name="b"
           placeholder="B Şıkkı"
           required>

    <input type="text"
           name="c"
           placeholder="C Şıkkı"
           required>

    <input type="text"
           name="d"
           placeholder="D Şıkkı"
           required>

    <input type="text"
           name="correct"
           placeholder="Doğru Cevap (A/B/C/D)"
           required>

    <button type="submit">
        Quiz Ekle
    </button>

</form>
```

</div>

</body>
</html>
