<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Quiz Ekle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="form-container">

<form method="POST">

    <h1>Quiz Ekle</h1>

    <input type="text" name="question" placeholder="Soru">

    <input type="text" name="option1" placeholder="Şık 1">

    <input type="text" name="option2" placeholder="Şık 2">

    <input type="text" name="option3" placeholder="Şık 3">

    <input type="text" name="option4" placeholder="Şık 4">

    <input type="text" name="answer" placeholder="Doğru Cevap">

    <button type="submit">
        Quiz Kaydet
    </button>

</form>

</div>

</body>
</html>