<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Paneli</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">

    <div class="logo">
        Admin Panel
    </div>

    <a href="/admin">Dashboard</a>

    <a href="/add_quiz">Quiz Ekle</a>

    <a href="/chatbot">AI Sistem</a>

    <a href="/logout">Çıkış</a>

    <a href="/upload_lesson">PDF Yükle</a>

</div>

<div class="main">

    <div class="topbar">

        <h1>Admin Yönetim Paneli</h1>

    </div>

    <div class="cards">

        <div class="card">

            <h2>Kullanıcı Sayısı</h2>

            <div class="stat">154</div>

        </div>

        <div class="card">

            <h2>Toplam Quiz</h2>

            <div class="stat">62</div>

        </div>

        <div class="card">

            <h2>Aktif Öğrenci</h2>

            <div class="stat">89</div>

        </div>

        <div class="card">

            <h2>AI Kullanımı</h2>

            <div class="stat">1.2K</div>

        </div>

    </div>

</div>

</body>
</html>

</body>
</html>