<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>AI Quiz</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

<style>

.ai-box{
    max-width:900px;
    margin:auto;
    padding:40px;
}

.topic-buttons{
    margin-bottom:30px;
}

.topic-buttons a{
    background:#38bdf8;
    color:white;
    padding:12px 20px;
    border-radius:10px;
    text-decoration:none;
    margin-right:10px;
}

.question-card{
    background:#1e293b;
    padding:25px;
    border-radius:20px;
    margin-bottom:20px;
}

.option{
    margin-top:10px;
    padding:12px;
    background:#334155;
    border-radius:10px;
}

</style>

</head>
<body>

<div class="ai-box">

    <h1>AI Quiz Sistemi</h1>

    <div class="topic-buttons">

        <a href="/ai_quiz?topic=python">
            Python
        </a>

        <a href="/ai_quiz?topic=html">
            HTML
        </a>

        <a href="/ai_quiz?topic=css">
            CSS
        </a>

    </div>

    {% for q in questions %}

    <div class="question-card">

        <h2>{{ q.question }}</h2>

        {% for option in q.options %}

        <div class="option">
            {{ option }}
        </div>

        {% endfor %}

    </div>

    {% endfor %}

</div>

</body>
</html>