<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Quiz Sistemi</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

<style>

.quiz-container{
    max-width:900px;
    margin:auto;
    padding:40px;
}

.question-box{
    background:#1e293b;
    padding:25px;
    border-radius:20px;
    margin-bottom:25px;
}

.option{
    margin-top:15px;
    background:#334155;
    padding:15px;
    border-radius:10px;
}

.submit-btn{
    background:#38bdf8;
    color:white;
    padding:15px 30px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

</style>

</head>
<body>

<div class="quiz-container">

    <h1>Quiz Sistemi</h1>

    <form action="/submit_quiz" method="POST">

        {% for q in questions %}

        <div class="question-box">

            <h2>{{ q.question }}</h2>

            {% for option in q.options %}

            <div class="option">

                <label>
                    <input type="radio"
                           name="question_{{ loop.parent.loop.index0 }}"
                           value="{{ option }}">
                </label>

                {{ option }}

            </div>

            {% endfor %}

        </div>

        {% endfor %}

        <button class="submit-btn">
            Quizi Bitir
        </button>

    </form>

</div>

</body>
</html>