<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>

<h1>Quiz Çöz</h1>

<form method="POST" action="/submit_quiz">

{% for quiz in quizzes %}

    <h3>{{ quiz.question }}</h3>

    <label>
        <input type="radio"
               name="question_{{ quiz.id }}"
               value="A">
        {{ quiz.option_a }}
    </label>

    <br>

    <label>
        <input type="radio"
               name="question_{{ quiz.id }}"
               value="B">
        {{ quiz.option_b }}
    </label>

    <br>

    <label>
        <input type="radio"
               name="question_{{ quiz.id }}"
               value="C">
        {{ quiz.option_c }}
    </label>

    <br>

    <label>
        <input type="radio"
               name="question_{{ quiz.id }}"
               value="D">
        {{ quiz.option_d }}
    </label>

    <hr>

{% endfor %}

<button type="submit">
    Quizi Bitir
</button>

</form>

</body>
</html>