<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Öğrenci Paneli</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">

    <div class="logo">
        AI Edu
    </div>

    <a href="/student_dashboard">Dashboard</a>

    <a href="/quiz">Quiz Sistemi</a>

    <a href="/chatbot">AI Asistan</a>

    <a href="/logout">Çıkış</a>

</div>

<div class="main">

    <div class="topbar">

        <h1>Hoşgeldin {{ session['user'] }}</h1>

    </div>

    <div class="cards">

        <div class="card">

            <h2>Toplam Ders</h2>

            <div class="stat">12</div>

        </div>

        <div class="card">

            <h2>Quiz Sayısı</h2>

            <div class="stat">28</div>

        </div>

        <div class="card">

            <h2>AI Soruları</h2>

            <div class="stat">134</div>

        </div>

        <div class="card">

            <h2>Başarı Oranı</h2>

            <div class="stat">%92</div>

        </div>

    </div>

</div>

</body>
</html>